<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" [routerLink]="['/tabs/tab1']">
        <ion-icon slot="icon-only" name="arrow-back">Back</ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label>Busqueda:</ion-label>
  <ion-datetime  [(ngModel)]="myDate" (ionChange)="showdate()" value= {{date_now_inicio}} display-timezone="utc"></ion-datetime>
  <ion-icon name="calendar" slot="end"></ion-icon>
</ion-item><br><br>

<ion-content fullscreen>
  <ion-col *ngFor= "let l of items;let indice=index ">
      <ion-card >
          <ion-card-header>
            <ion-card-subtitle>{{l.date}} </ion-card-subtitle>
            <ion-card-title>Medición {{indice+1}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2><i class="fa fa-heartbeat fa-lg"></i>
              Glucosa: {{l.glucosa}} mg/dL
            </h2>
            <h2><i class="fa fa-stethoscope fa-lg"></i>
              Presión Arterial:  {{l.data_presion_alta}}/{{l.data_presion_baja}}
            </h2>
            <h2>
              Estado: <i class= {{l.status}} aria-hidden="true"></i>
            </h2><br>
            <h2>
              Comentarios: {{l.comments}}
            </h2>
          </ion-card-content>
        </ion-card>      
  </ion-col>
  <!-- <ion-card>
      <ion-card-header>
        <ion-card-subtitle> 03/12/2020 20:30 </ion-card-subtitle>
        <ion-card-title>Historial 2</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2><i class="fa fa-heartbeat fa-lg"></i>
          Glucosa:  115 mg/dL
        </h2>
        <h2><i class="fa fa-stethoscope fa-lg"></i>
          Presión Arterial:  95/140
        </h2>
        <h2>
          Estado: <i class="fa fa-frown-o" aria-hidden="true"></i>
        </h2><br>
        <h2>
          Comentarios: El día de hoy me senti un poco mareada
        </h2>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" shape="round" (click)="getPresion()">Guardar</ion-button> -->
</ion-content>