<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" [routerLink]="['/tabs/tab1']">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>Login</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Registro</h1>
    <!-- <img src="assets/logo.png" /> -->
  </div>

  <form id="form">
    <ion-item>
      <ion-input placeholder="Nombre"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-input placeholder="Apellido Paterno"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-input placeholder="Apellido Materno"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-input placeholder="Email"></ion-input>
    </ion-item><br>
    <ion-item>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button expand="block" shape="round">Login</ion-button>
    <p>!Bienvenido!</p>
  </form>

</ion-content>